<div class="section" id="card-details">
			<h3>Card Details</h3>
			<div class="form-group">
				<label class="col-md-3 control-label">Email (For Receipt)*</label>
				<div class="col-md-9">
					<input class="form-control" required type="email" name="email">
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Card Holders Name*</label>
				<div class="col-md-9">
					<input class="form-control" required type="text" name="cardholder" data-stripe='name'>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Card Number*</label>
				<div class="col-md-9">
					<input class="form-control" type="text" data-stripe='number'>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">CVC/CVN*</label>
				<div class="col-md-9">
					<input class="form-control"  required type="text" data-stripe='cvc'>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Expiration MM*</label>
				<div class="col-md-1">
					<input class="form-control" required type="text" data-stripe='exp-month'>
					<div class="help-block with-errors"></div>
				</div>
				<label class="col-md-1 control-label">YY*</label>
				<div class="col-md-1">
					<input class="form-control" required type="text" data-stripe='exp-year'>
					<div class="help-block with-errors"></div>
				</div>
			</div>
			<div class="form-group" style="display:none;">
				<label class="col-md-3 control-label">Total</label>
				<div class="col-md-3">
					<input class="form-control" type="text" disabled id="total">
				</div>
			</div>
</div> <!-- ends  card- details-->
